description = "Coming Soon Section"
==
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				<a href="mailto:jodykemsley@icloud.com">jodykemsley[at]icloud.com</a>
			</h1>
			<div class="sm-line"></div>
			<ul class="list-inline text-center social">
				<li><a href="https://twitter.com/jodykemsley"><i class="fa fa-twitter"></i></a></li>
				<li><a href="http://uk.linkedin.com/in/jkgilb"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
</div>