description = "Home section"
==
<div class="home-wrap">
	<nav class="navbar navbar-default navbar-static-top">
	  {% partial 'nav' %}
	</nav>
	<div class="container centered">
		<div class="row">
			<div class="col-md-12">
				<h1>Jody</h1>
				<h1>Kemsley Gilbert</h1>
				<p class="lead">Developer, Designer and lover of all things Angular</p>
			</div>
		</div>
	</div>
	<div class="line1"></div>
	<div class="line2"></div>
	<div class="line3"></div>
	<div class="line4"></div>
	<div class="line5"></div>
</div>
<div class="homeline"></div>
